# Combining And Exporting Data

## This scripts contains the following points:

### 1. Import the datasets

### 2. Check the dimensions of the imported dataframes

### 3. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

### 4. Confirm the results of the merge using the merge flag.

### 5. Export the newly created dataframe as ords_prods_merge in a suitable format.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 1. Import the data sets into Jupyter

In [2]:
# Define path
path = r'C:\Users\Lukman\OneDrive\Documents\FEMINA CF\Data Immerssion\Achievement4\Instacart Basket Analysis'

In [3]:
# Import dataset orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Import dataset products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

### 2. Check the dimensions of the imported dataframes

In [5]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [6]:
df_ords_prods_combined.shape

(32434489, 10)

In [7]:
# Check the output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Drop unnecessary columns
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [9]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods.shape

(49672, 5)

### 3. Determine a suitable way to combine the orders_products_combined dataframe with the products data set.

A suitable wat to join the two datasets is by merging them using df.merge() function. The common column here is "product_id".

In [11]:
# Drop unnecessary columns
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [12]:
# Check output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [13]:
# Merge the updated dataframes
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

Since there is a memory error we need to chnage the data type of both datasets inorder to reduce the memory usage.

In [24]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(2), int8(1), object(1)
memory usage: 921.8+ KB

In [25]:
# Change types for df_prods data set

df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id'] =df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int8')
df_prods['prices'] = df_prods['prices'].astype('float16')

In [16]:
# Check output to see memory usage

df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(2), int8(1), object(1)
memory usage: 921.8+ KB

In [17]:
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.4 GB

In [30]:
#change data type

df_ords_prods_combined['order_id'] = df_ords_prods_combined['order_id'].astype('int32')
df_ords_prods_combined['user_id'] = df_ords_prods_combined['user_id'].astype('int32')
df_ords_prods_combined['order_number'] = df_ords_prods_combined['order_number'].astype('int8')
df_ords_prods_combined['orders_day_of_week'] = df_ords_prods_combined['orders_day_of_week'].astype('int8')
df_ords_prods_combined['order_hour_of_day'] =df_ords_prods_combined['order_hour_of_day'].astype('int8')
df_ords_prods_combined['days_since_prior_order']=df_ords_prods_combined['days_since_prior_order'].astype('float16')
df_ords_prods_combined['product_id'] =df_ords_prods_combined['product_id'].astype('int32')
df_ords_prods_combined['add_to_cart_order']= df_ords_prods_combined['add_to_cart_order'].astype('int32')
df_ords_prods_combined['reordered']= df_ords_prods_combined['reordered'].astype('int8')

In [32]:
# Check output to see memory usage

df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 928.0 MB

In [34]:
# Merge the updated dataframes
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [35]:
# Check the output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,9.0,11,1,both

In [36]:
df_ords_prods_merge.shape

(32404859, 14)

### 4. Confirm the results of the merge using the merge flag

In [37]:
df_ords_prods_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### 5. Export the newly created dataframe as ords_prods_merge in a suitable format

In [38]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))