### Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define path
path = r'C:\Users\Lukman\OneDrive\Documents\FEMINA CF\Data Immerssion\Achievement4\Instacart Basket Analysis'

In [3]:
# Import new customer data set from the 'Original Data' folder as a dataframe
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [4]:
#Inspect the data
customers.head(10)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072

In [5]:
# Check the dimensions of the dataframe
customers.shape

(206209, 10)

In [6]:
# View descriptive statistics 
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

### Rename columns

In [7]:
#Rename columns to have logical and consistent names.
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [8]:
customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [9]:
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [10]:
customers.rename(columns = {'STATE' : 'state'}, inplace = True)

In [11]:
customers.rename(columns = {'Age' : 'age'}, inplace = True)

In [12]:
customers.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

### Data Quality And Consistency Checks

In [13]:
# Check data types
customers.dtypes

user_id            int64
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [14]:
# Identify mixed data type columns
for col in customers.columns:
    unique_types = customers[col].map(type).unique()
    if len(unique_types) > 1:
        print(f"Column '{col}' has mixed types: {unique_types}")

Column 'first_name' has mixed types: [<class 'str'> <class 'float'>]

In [15]:
# Convert columns with mixed types to a consistent type

customers['first_name'] = customers['first_name'].astype(str)

In [16]:
customers['user_id'] = customers['user_id'].astype('str')

In [17]:
# Re-check the data-types in the data frame and for mixed data-types
customers.dtypes

user_id           object
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
n_dependants       int64
marital_status    object
income             int64
dtype: object

In [18]:
# recheck to Identify mixed data type columns
for col in customers.columns:
    unique_types = customers[col].map(type).unique()
    if len(unique_types) > 1:
        print(f"Column '{col}' has mixed types: {unique_types}")

There is no mixed datatype columns.

In [19]:
# Check for missing values
customers.isnull().sum()

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
n_dependants      0
marital_status    0
income            0
dtype: int64

In [20]:
# Check for duplicates
customers.duplicated().sum()

0

### Combine your customer data with the rest of your prepared Instacart data.

In [21]:
#load prepared instacart data
orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_aggregated.pkl'))

In [22]:
# Check the shape of the newly imported dataframe
orders_products.shape

(32404859, 24)

In [23]:
# Check the shape of the customers dataframe
customers.shape

(206209, 10)

In [24]:
# Both dataframes share the 'user_id' column
# Check data-type of shared column
orders_products.dtypes['user_id']

dtype('int32')

In [25]:
customers.dtypes['user_id']

dtype('O')

In [26]:
# Make sure both key columns are the same data type
orders_products['user_id'] = orders_products['user_id'].astype('str')

In [27]:
orders_products.dtypes['user_id']

dtype('O')

In [28]:
# Drop the existing '_merge' column from previous exercises
orders_products = orders_products.drop(columns=['_merge'])

In [29]:
customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_status', 'income'],
      dtype='object')

In [31]:
# change datatype to save memory
customers['age'] =customers['age'].astype('int8')
customers['n_dependants'] = customers['n_dependants'].astype('int8')
customers['income'] = customers['income'].astype('int32')

In [33]:
#check the output
orders_products.dtypes

product_id                  int32
product_name               object
aisle_id                    int32
department_id                int8
prices                    float16
order_id                    int32
user_id                    object
order_number                 int8
orders_day_of_week           int8
order_hour_of_day            int8
days_since_prior_order    float16
add_to_cart_order           int32
reordered                    int8
price_range_loc            object
busiest_day                object
busiest_days               object
busiest_period_of_day      object
max_order                    int8
loyalty_flag               object
average_spend             float16
spender_flag               object
Customer_frequency        float16
frequency_flag             object
dtype: object

In [34]:
#change datatype
orders_products['product_id'] = orders_products['product_id'].astype('int32')
orders_products['product_name'] = orders_products['product_name'].astype('category')
orders_products['aisle_id'] = orders_products['aisle_id'].astype('int32')
orders_products['department_id'] = orders_products['department_id'].astype('int8')
orders_products['prices'] = orders_products['prices'].astype('float16')
orders_products['order_id'] = orders_products['order_id'].astype('int32')
orders_products['user_id'] = orders_products['user_id'].astype('category')
orders_products['order_number'] = orders_products['order_number'].astype('int8')
orders_products['orders_day_of_week'] = orders_products['orders_day_of_week'].astype('int8')
orders_products['order_hour_of_day'] = orders_products['order_hour_of_day'].astype('int8')
orders_products['days_since_prior_order'] = orders_products['days_since_prior_order'].astype('float16')
orders_products['add_to_cart_order'] = orders_products['add_to_cart_order'].astype('int32')
orders_products['reordered'] = orders_products['reordered'].astype('int8')
orders_products['price_range_loc'] = orders_products['price_range_loc'].astype('category')
orders_products['busiest_day'] = orders_products['busiest_day'].astype('category')
orders_products['busiest_days'] = orders_products['busiest_days'].astype('category')
orders_products['busiest_period_of_day'] = orders_products['busiest_period_of_day'].astype('category')
orders_products['max_order'] = orders_products['max_order'].astype('int8')
orders_products['loyalty_flag'] = orders_products['loyalty_flag'].astype('category')
orders_products['average_spend'] = orders_products['average_spend'].astype('float16')
orders_products['spender_flag'] = orders_products['spender_flag'].astype('category')
orders_products['Customer_frequency'] = orders_products['Customer_frequency'].astype('float16')
orders_products['frequency_flag'] = orders_products['frequency_flag'].astype('category')

In [36]:
#process the data in chunks to deal with large dataset
#set the chunk size
chunksize = 100000

In [42]:
#process data in chunks
chunks = []
for i in range(0, len(orders_products), chunksize):
    chunk = orders_products.iloc[i:i+chunksize]
    merged_chunk = chunk.merge(customers, on='user_id', indicator=True)
    chunks.append(merged_chunk)

In [43]:

#concatenate all chunks
custs_ords_prods = pd.concat(chunks, ignore_index=True)

In [44]:
# Check shape of newly merged dataframe
custs_ords_prods.shape

(32404859, 33)

In [45]:
custs_ords_prods.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,n_dependants,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,196,Soda,77,7,9.000000,147387,709,4,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
4,196,Soda,77,7,9.000000,2322397,709,5,1,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both

In [46]:
# Check inner join value counts
custs_ords_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Export this new dataframe as a pickle file so you can continue to use it in the second part of this task

In [47]:
custs_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))